.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 100rpx;
		line-height: 100rpx;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding: 0 35rpx;
		color: #666666;
		background-color: #FFFFFF;
	}
	.release {
		height: 60rpx;
		width: 120rpx;
		line-height: 60rpx;
		text-align: center;
		border-radius: 20rpx;
		background-color: #ff5777;
		color: #FFFFFF;
	}